@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wedding-gold: #c5a059;
  --wedding-cream: #f9f7f2;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
