@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wedding-primary: #175294;
  --wedding-secondary: #308FBB;
  --wedding-accent: #74B0D3;
  --wedding-dark: #1D2849;
  --wedding-cream: #D5E9F1;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D5E9F1;
  font-family: 'Inter', sans-serif;
}
